<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<th:block th:include="fragments/sidebarBooks"></th:block>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Message Box-->
        <div th:if="${message.success != null}" class="alert alert-success" role="alert">
            <span th:text="${message.success}"></span>
        </div>
        <div th:if="${message.error != null}" class="alert alert-danger" role="alert">
            <span th:text="${message.error}"></span>
        </div>
        <div th:if="${message.info != null}" class="alert alert-info" role="alert">
            <span th:text="${message.info}"></span>
        </div>

        <!-- Table -->
        <div class="card mb-3">
            <div class="card-header">
                    <a class="btn btn-dark" th:href="@{/book/new}"><i class="far fa-plus-square"></i> Add Book</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Published</th>
                            <th>Genre</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "book : ${booksList}">
                            <td th:text="${book.title}">Thinking Fast And Slow</td>
                            <td th:text="${book.author}">Dalien Kahneman</td>
                            <td th:text="${book.year}"></td>
                            <td th:each = "category : ${book.categories}">
                                <span th:text="${category.name} + ' '"></span>
                            </td>
                            <td><a th:href="@{/book/{id}(id=${book.id})}"><i class="fab fa-readme"></i></a></td>
                            <td><a th:href="@{/book/{id}/edit(id=${book.id})}"><i class="far fa-edit"></i></a></td>
                            <td><a th:href="@{/book/{id}/delete(id=${book.id})}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <select class="form-control" id="pageSizeSelect">
                            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                    th:value="${pageSize}"
                                    th:selected="${pageSize} == ${selectedPageSize}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6"></div>

                    <div th:if="${booksList.totalPages != 1}" class="form-group col-sm-4 pagination">
                        <ul class="pagination">
                            <li th:class="${booksList.number == 0} ? disabled">
                                <a class="page-link" th:href="@{/articles/pagination/(pageSize=${selectedPageSize}, page=1)}">«</a>
                            </li>
                            <li th:class="${booksList.number == 0} ? disabled">
                                <a class="page-link" th:href="@{/articles/pagination/(pageSize=${selectedPageSize}, page=${booksList.number})}">←</a>
                            </li>
                            <li th:class="${booksList.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="page-link" th:href="@{/articles/pagination/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
                            </li>
                            <li th:class="${booksList.number + 1 == booksList.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/articles/pagination/(pageSize=${selectedPageSize}, page=${booksList.number + 2})}">→</a>
                            </li>
                            <li th:class="${booksList.number + 1 == booksList.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/articles/pagination/(pageSize=${selectedPageSize}, page=${booksList.totalPages})}">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <th:block th:include="fragments/footer"></th:block>