<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<th:block th:include="fragments/sidebarBooks"></th:block>

<div id="content-wrapper">

    <div class="container-fluid">

        <th:block th:include="fragments/messageBox"></th:block>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                Edit Book
            </div>
            <div class="card-body">

                <form th:object="${book}" th:action="@{/book/{id}/update(id=${book.id})}" th:method="post">

                    <div class="form-group col-lg-8 col-md-12 col-sx-12">
                        <label for="title"><h6>Title:</h6></label>
                        <input th:field="*{title}" id="title" type="text" class="form-control">
                        <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>

                    <div class="form-group col-lg-8 col-md-12 col-sx-12">
                        <label for="authors"><h6>Author:</h6></label>
                        <select id="authors" class="form-control" th:field="*{authors}" multiple="multiple">
                            <option th:each="author : ${allAuthors}"
                                    th:text="${author.fullName}"
                                    th:value="${author.id}"
                                    th:selected="${book.authors.contains(author)}"></option>
                        </select>
                        <!--<span class="error" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></span>-->
                    </div>

                    <div class="form-group col-lg-8 col-md-12 col-sx-12">
                        <label for="category"><h6>Categories:</h6></label>
                        <select id="category" class="form-control" th:field="*{categories}" multiple="multiple">
                            <option th:each="category : ${allCategories}"
                                    th:text="${category.name}"
                                    th:value="${category.id}"
                                    th:selected="${book.categories.contains(category)}"></option>
                        </select>
                        <!--<span class="error" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></span>-->
                    </div>

                    <div class="form-group col-lg-4 col-md-4 col-sx-12">
                        <label for="datepicker"><h6>Published:</h6></label>
                        <div data-date-minviewmode="months" data-date-viewmode="years" data-date-format="mm/yyyy" data-date="01/2018" class="input-append date dpMonths">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input id="datepicker" type="text" readonly="" value="01/2018" size="16" class="form-control" th:field="*{year}">
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="input-group-btn add-on">
                                            <button class="btn btn-dark" style="height:38px;" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-8">
                        <label for="description"><h6>Description:</h6></label>
                        <textarea class="form-control" th:field="*{description}" id="description"></textarea>
                        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-dark">Save</button>
                        <a class="btn btn-info" th:href="@{'/books'}">Cancel</a>
                    </div>
                </form>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

    <th:block th:include="fragments/footer"></th:block>
