<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<th:block th:include="fragments/sidebarAuthors"></th:block>

<div id="content-wrapper">

    <div class="container-fluid">

        <th:block th:include="fragments/messageBox"></th:block>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                Show Author Details
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sx-12">
                            <h6>Author Name:</h6>
                            <p th:text="${author.fullName}" id="name"></p>
                            <h6>Biography:</h6>
                            <p th:text="${author.bio}" id="bio"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-dark" th:href="@{/author/{id}/edit(id=${author.id})}">Edit</a>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Published</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each = "book : ${booksList}">
                                        <td th:text="${book.title}">Thinking Fast And Slow</td>
                                        <td th:text="${book.year}"></td>
                                        <td><a th:href="@{/book/{id}(id=${book.id})}"><i class="fab fa-readme"></i></a></td>
                                        <td><a th:href="@{/book/{id}/edit(id=${book.id})}"><i class="far fa-edit"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer">
                <div class="row">

                    <div class="form-group col-md-2">
                        <select class="form-control" id="pageSizeSelect">
                            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                    th:value="${pageSize}"
                                    th:selected="${pageSize} == ${selectedPageSize}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6"></div>

                    <div th:if="${booksList.totalPages != 1}" class="form-group col-md-4 pagination">
                        <ul class="pagination">
                            <li th:class="${booksList.number == 0} ? disabled">
                                <a class="page-link" th:href="@{/author/{id}(pageSize=${selectedPageSize}, page=1, id=${author.id})}">«</a>
                            </li>
                            <li th:class="${booksList.number == 0} ? disabled">
                                <a class="page-link" th:href="@{/author/{id}(pageSize=${selectedPageSize}, page=${booksList.number}, id=${author.id})}">←</a>
                            </li>
                            <li th:class="${booksList.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="page-link" th:href="@{/author/{id}(pageSize=${selectedPageSize}, page=${page},id=${author.id})}" th:text="${page}"></a>
                            </li>
                            <li th:class="${booksList.number + 1 == booksList.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/author/{id}(pageSize=${selectedPageSize}, page=${booksList.number + 2}, id=${author.id})}">→</a>
                            </li>
                            <li th:class="${booksList.number + 1 == booksList.totalPages} ? disabled">
                                <a class="page-link" th:href="@{/author/{id}(pageSize=${selectedPageSize}, page=${booksList.totalPages}, id=${author.id})}">»</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

    <th:block th:include="fragments/footer"></th:block>
