<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<th:block th:include="fragments/sidebarBooks"></th:block>

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Message Box-->
        <div th:if="${message.success != null}" class="alert alert-success" role="alert">
            <span th:text="${message.success}"></span>
        </div>
        <div th:if="${message.error != null}" class="alert alert-danger" role="alert">
            <span th:text="${message.error}"></span>
        </div>
        <div th:if="${message.info != null}" class="alert alert-info" role="alert">
            <span th:text="${message.info}"></span>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                Add New Category
            </div>
            <div class="card-body">

                <form th:object="${category}" th:action="@{/category/create}" th:method="post">

                    <div class="form-group col-sm-8">
                        <label for="name"><h6>Title:</h6></label>
                        <input th:field="*{name}" id="name" type="text" class="form-control">
                        <span class="errorMsg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>

                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-dark">Save</button>
                        <a class="btn btn-info" th:href="@{'/categories'}">Cancel</a>
                    </div>
                </form>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

    <th:block th:include="fragments/footer"></th:block>
