<div class="sidebar" data-background-color="white" data-active-color="danger">


    <div class="sidebar-wrapper">
        <div class="logo">
            <a th:href="@{/}" class="simple-text">
                Booksmanager
            </a>
        </div>

        <ul class="nav">
            <li>
                <a th:href="@{/dashboard}">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a th:href="@{/authors}">
                    <i class="ti-user"></i>
                    <p>Authors</p>
                </a>
            </li>
            <li>
                <a th:href="@{/categories}">
                    <i class="ti-view-list-alt"></i>
                    <p>Categories</p>
                </a>
            </li>
            <li class="active">
                <a th:href="@{/books}">
                    <i class="ti-text"></i>
                    <p>Books</p>
                </a>
            </li>
        </ul>
    </div>
</div>